.tableCoffe{
    width: 792px;
    height: 335px;
}

.headerCoffe{
    background-color: rgba(51, 58, 64, 1);
    color: white;
    height: 49px;
}

.containerCoffees{
    margin-left: auto;
    margin-left: 50px;
}

#totales{
    margin-left: 50px;
}